body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(21, 84, 156, 0.979);
}

.activate-bot .abot
{
margin-top: 700px;
margin-left: 1000px;
height:75px;
width:75px;
border-radius: 50%;
border: none;
background-color: transparent;
overflow: hidden;
position: relative;
cursor: pointer;
transition: 0.5s ease-in-out;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}



.upper-border{
    border-radius:8px 8px 0px 0px;
    padding: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 90px;
    background: rgb(130, 198, 243);
}

.upper-border img{
    margin-left: 10px;
    width:100px;
    height: 100px;
}

.border-info{
    padding: 30px;
    font:lighter;
    font-size: 0.6cm;
}
.border-info p{
    font:bold;
    font-size: 0.5cm;
}

.chat-input .msg {
    display:flex;
    align-items: center;
    width:85%;
    height:50px;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    border: solid;
}

.chat-input .sbt
{
margin-left: 900px;
margin-top: 400px;

}

#chatbot
{
  display: none;
  position: fixed;
  background-color: white;
}

.chat-popup{
        display:flex;
    align-items: center;
    width:50px;
    height:50px;
    padding: 20px;
    position:absolute;
    top:0;
        right:0;
}
