

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(60, 104, 170);
}

#hb
{
color: blue;
text-align: center;
background-color: orange;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-box{
    align-items: center;
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 15px;
    position: relative;
}
form
{
margin-top: 515px;
margin-left: 175px;
}
