<div class ="main">
<div class="container">
        <div *ngIf= "animated" @slideInOut  class="chat-box">
            <div class="upper-border">
                <img src="../assets/image/bot.png" alt="bot-icon" />
                <div class="border-info">
                    <h2>Virtual TA</h2>
                </div>
            </div>
            <app-chat [messages]="messages" [colorBackRight]="colorBackRight" [colorFontRight]="colorFontRight"
            [colorBackLeft]="colorBackLeft" [colorFontLeft]="colorFontLeft" class="center"></app-chat>
        </div>

        <button (click)="animated = !animated" class="pop-up-button" id="check">
            <img src="../assets/image/pop-up.png">
        </button>

    </div>
  </div>
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    </script>
  <script type="text/javascript" id="MathJax-script" async
src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
