<div class ="main">
<div class="container">
        <div *ngIf= "animated" @slideInOut  class="chat-box">
            <div class="upper-border">
                <img src="../assets/image/bot.png" alt="bot-icon" />
                <div class="border-info">
                    <h2>Algo Bot</h2>
                </div>
            </div>
            <div class="message-box" id = "message-box" #container >    
                <div class="message">
                    <div class="client-chat">Hi!</div>
                </div>
            </div>
            <form (ngSubmit) ="handleUserMessage(message)" id="send" class="chat-input" autocomplete="off">
                <input [(ngModel)]= "message" name="message" type="text" placeholder="Enter Message" />
                <button (click) = "scrollToBottom()" type="submit" class="send-button">
                    <img src="../assets/image/send.png" alt="send-button">

                </button>
            </form>
        </div>

        <button (click)="animated = !animated" class="pop-up-button" id="check">
            <img src="../assets/image/pop-up.png">
        </button>

    </div>
  </div>
  