<div class ="main">
<div class="container">
        <div *ngIf= "animated" @slideInOut  class="chat-box">
            <div class="upper-border">
                <img src="../assets/image/bot.png" alt="bot-icon" />
                <div class="border-info">
                    <h2>Algo Bot</h2>
                </div>
            </div>
            <app-chat [messages]="messages" [colorBackRight]="colorBackRight" [colorFontRight]="colorFontRight"
            [colorBackLeft]="colorBackLeft" [colorFontLeft]="colorFontLeft" class="center"></app-chat>
            <!--<div class="message-box" id = "message-box" #container >    
                <div class="message">
                    <div class="client-chat">Hi!</div>
                </div>
            </div>
          <div class="whole">
              <button class="eqclick">
                <img src="../assets/image/notation.png">
                </button>
                <div class="dropup">
                <button id="btn1" (click)="const()" style="border: none;"> 
                <a href="#" id="constant"> O(1) </a><br>
                </button><br>
                <button id="btn2" (click)="const1()" style="border: none;">
                <a href="#" id="log"> O(log n)</a><br>
            </button><br>
                <button id="btn3" (click)="const2()" style="border: none;">
                <a href="#" id="lin"> O(n) </a><br>
            </button><br>
            <button id="btn4" (click)="const3()" style="border: none;">
                <a href="#" id="lina"> O(n log n)</a><br>
            </button><br>
            <button id="btn5" (click)="const4()" style="border: none;">
                <a href="#" id="quad"> O(n*n) </a><br>
            </button><br>
            <button id="btn6" (click)="const5()" style="border: none;">
                <a href="#" id="cubic"> O(n*n*n)</a><br>
            </button><br>
            <button id="btn7" (click)="const6()" style="border: none;">
                <a href="#" id="fact"> O(n!) </a><br>
            </button><br>
            </div>
              </div>
            <form (ngSubmit) ="handleUserMessage(message)" id="send" class="chat-input" autocomplete="off">
                <input [(ngModel)]= "message" name="message" type="text" placeholder="Enter Message" />
                <button (click) = "scrollToBottom()" type="submit" class="send-button">
                    <img src="../assets/image/send.png" alt="send-button">

                </button>
            </form>-->
        </div>

        <button (click)="animated = !animated" class="pop-up-button" id="check">
            <img src="../assets/image/pop-up.png">
        </button>

    </div>
  </div>
  
