.content-message {
    width: 80%;
}
  
.right-content {
    text-align: right;
}

p {
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 2px;
    max-width: 80%;
    word-wrap: break-word;

}

.date{
    margin-right: 15px;
    margin-left: 15px;
    font-style: italic;
    font-size: 0.3cm;
}