<div *ngIf="owner" class="content-message right-content">
    <img id = "userAvatar" src="../assets/image/user.png" />
    <p [ngStyle]="{'background-color': colorBackRight, 'color': colorFontRight}">
        {{text}}
    </p>
    <div class ="date">
        {{date}}
    </div>
</div>
<div *ngIf="!owner" class="content-message left-content">
    <img id = "botAvatar" src="../assets/image/ta.png" />
    <p [ngStyle]="{'background-color': colorBackLeft, 'color': colorFontLeft}">
        {{text}}
    </p>
    <div class ="date">
        {{date}} 
    </div>
</div>
